{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<img src="{% static 'img/Fondo01.jpg' %}" class="bg-image">
<div class="container">
    <div class="row">
        <p class="margin-top-10"><img src="{% static 'img/BadgeVerticalAzul-01.jpg' %}" class="col-md-2 col-4 align-center offset-md-5 offset-4 vertical-offset"></p>
    </div>
    <div class="row">
        <div  class="col-12 text-white text-center vertical-offset"><p><h2><strong>REGISTRO</strong></h2></p></div>
    </div>
    <div class="row">
        <div class="card col-10 offset-1 vertical-offset">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <p><h3>Tus datos</h3></p>
                {{ student_form | crispy }}
                <p><h3>Datos de tu padre o tutor</h3></p>
                {{ tutor_form | crispy }}
                <input type="submit" value="Ir a Pago" class="btn btn-primary col-10 col-md-4 offset-1 offset-md-4">
                <p class="text-center col-12 col-md-6 offset-md-3">Se pide una cuota de $100.00 MXN (cien pesos 00/100) de recuperación. 
                El pago se realiza por medio de un servicio externo al de CreateMath por
                lo que no se hace responsable de los procesos.</p>
            </form>
            <p class="text-right">Ya tienes una cuenta?<a href="{% url 'home:login' %}?next={% url 'home:home' %}"> Inicia Sesión</a></p>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}